.fight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.fight-area {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
}

.health {
    height: 100%;
    background-color: green;
    transition: width 0.5s ease;
}

.player-controls {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.power-select {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}


.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}